@import 'util.styl'

clear-fix()
	&:after
		content: "."
		display: block
		clear: both
		height: 0
		visibility: hidden
	&
		min-height: 1px
	* html &
		height: 1px;/**//*/
		height: auto;
		overflow: hidden;
		/**/

inline-block()
	display -moz-inline-stack
	display inline-block
	vertical-align middle
	zoom 1

touch-scroll()
	overflow scroll
	-webkit-overflow-scrolling touch

tap-highlight-color()
	-webkit-tap-highlight-color arguments


// border-image()
// 	source = ''
// 	width = 1
// 	slice = 100%
// 	outset = 1
// 	rep = repeat
// 	if length(arguments) >= 1
// 		source = arguments[0]
// 	if length(arguments) >= 2
// 		width = arguments[1]
// 	if length(arguments) >= 3
// 		slice = arguments[2]
// 	if length(arguments) >= 4
// 		outset = arguments[3]
// 	if length(arguments) >= 5
// 		repeat = arguments[4]
//
// 	-webkit-border-image url(source) slice width rep
// 	-moz-border-image  url(source) slice width rep
// 	-ms-border-image  url(source) slice width rep
// 	-o-border-image  url(source) slice width rep
// 	border-image url(source) slice width rep
