@import 'util.styl'

clear-fix()
	&:after
		content: "."
		display: block
		clear: both
		height: 0
		visibility: hidden
	&
		min-height: 1px
	* html &
		height: 1px;/**//*/
		height: auto;
		overflow: hidden;
		/**/

inline-block()
	display -moz-inline-stack
	display inline-block
	vertical-align middle
	zoom 1

touch-scroll()
	overflow scroll
	-webkit-overflow-scrolling touch

tap-highlight-color()
	-webkit-tap-highlight-color arguments


border-image(source, width = 1, slice = 100%, outset = 1, repeat = 'repeat')
	border-image-source = url(source)
	border-image-slice = _px(slice)
	border-image-width = _px(width)
	border-image-outset = _px(outset)
	border-image-repeat = repeat
	-webkit-border-image border-image-source border-image-slice border-image-width border-image-outset border-image-repeat
	-moz-border-image border-image-source border-image-slice border-image-width border-image-outset border-image-repeat
	-ms-border-image border-image-source border-image-slice border-image-width border-image-outset border-image-repeat
	-o-border-image border-image-source border-image-slice border-image-width border-image-outset border-image-repeat
