@import 'util.styl'

clear-fix()
	&:after
		content: "."
		display: block
		clear: both
		height: 0
		visibility: hidden
	&
		min-height: 1px
	* html &
		height: 1px;/**//*/
		height: auto;
		overflow: hidden;
		/**/

inline-block()
	display -moz-inline-stack
	display inline-block
	vertical-align middle
	zoom 1

touch-scroll()
	overflow scroll
	-webkit-overflow-scrolling touch

tap-highlight-color()
	-webkit-tap-highlight-color arguments


border-image(source, width = '1px', slice = '100%', outset = '1px', repeat = 'repeat')
	border-image-source: url(source)
	border-image-slice: slice
	border-image-width: width
	border-image-outset: outset
	border-image-repeat: repeat
	-webkit-border-image: url(source) slice width outset repeat
	-moz-border-image: url(source) slice width outset repeat
	-ms-border-image: url(source) slice width outset repeat
	-o-border-image: url(source) slice width outset repeat
