_px(v)
	if unit(v) == ''
		unit(v, 'px')
	else
		v

width-height(_w, _h)
	width _px(_w)
	height _px(_h)

center() 
	margin 0 auto

top-left(_top = 0, _left = 0)
	position absolute
	top _top
	left _left

top-right(_top = 0, _right = 0)
	position absolute
	top _top
	right _right

bottom-left(_bottom = 0, _left = 0)
	position absolute
	bottom _bottom
	left _left

bottom-right(_bottom = 0, _right = 0)
	position absolute
	bottom _bottom
	right _right

min-max-width(_min-width, _max-width)
	max-width _max-width
	min-width _min-width
	width auto !important
	width _min-width