image-pixel-ratio = 1 / image-pixel-ratio

hover-alpha(_alpha = 0.6)
	&:hover
		opacity(_alpha)

img(_image, _properties = no-repeat, _display = block)
	display _display
	width w = image-size(_image)[0] * image-pixel-ratio
	height h = image-size(_image)[1] * image-pixel-ratio
	overflow hidden
	text-indent -9999px
	background url(_image) _properties
	if image-pixel-ratio != 1
		background-size w h

aimg(_image, _opacity = 0.6, _properties = no-repeat, _display = block)
	img(_image, _properties, _display)
	&:hover
		opacity(_opacity)

fimg(_image, _opacity = 0.6, _duration = 0.3s, _properties = no-repeat, _display = block)
	img(_image, _properties, _display)
	opacity 1
	&:hover
		opacity _opacity
		transition _opacity _duration linear

btn(_image, _properties = no-repeat, _display = block)
	display _display
	width _w = image-size(_image)[0] * image-pixel-ratio
	height _h = image-size(_image)[1] * image-pixel-ratio *0.5
	a
		display _display
		width _w
		height _h
		overflow hidden
		background url(_image) _properties
		if image-pixel-ratio != 1
			background-size _w _h*2
		text-indent -9999px
		&:hover
			background-position 0 _h*-1

abtn(_image, _opacity = 0.6, _properties = no-repeat, _display = block)
	btn(_image, _properties, _display)
	opacity 1
	a
		&:hover
			opacity(_opacity)

fbtn(_image, _duration = 0.3s, _opacity = 1, _properties = no-repeat, _display = block)
	btn(_image, _properties, _display)
	background url(_image) _properties
	background-size @width @height*2
	a
		opacity 0
		transition opacity _duration linear
		&:hover
			opacity _opacity
			transition opacity _duration linear

sbtn(_image, _duration = 0.1s, _scale = 1.1, _properties = no-repeat, _display = block)
	btn(_image, _properties, _display)
	background url(_image) _properties
	background-size @width @height*2
	a
		transform scale(1)
		transition all _duration linear
		&:hover
			transform scale(_scale)
			transition all _duration linear
			background-position 0 0