_px(v)
	if unit(v) == ''
		unit(v, 'px')
	else
		v

di(v)
	if v == b
		display block
	if v == i
		display inline
	if v == ib
		inline-block()
	if v == n
		display none

w(v)
	width _px(v)

h(v)
	height _px(v)

miw()
	min-width _px(arguments)

maw()
	max-width _px(arguments)

m()
	_buf = null
	for n in arguments
		push(_buf, _px(n))
	margin _buf

mt()
	margin-top _px(arguments)

mb()
	margin-bottom _px(arguments)

ml()
	margin-left _px(arguments)

mr()
	margin-right _px(arguments)

p()
	_buf = null
	for n in arguments
		push(_buf, _px(n))
	padding _buf

pt()
	padding-top _px(arguments)

pb()
	padding-bottom _px(arguments)

pl()
	padding-left _px(arguments)

pr()
	padding-right _px(arguments)

fl(v)
	if v == l
		float left
	if v == r
		float right

po(v)
	if v == r
		position relative
	if v == a
		position absolute
	if v == f
		position fixed
	if v == s
		position static

t(v)
	top _px(v)

b(v)
	bottom _px(v)

l(v)
	left _px(v)

r(v)
	right _px(v)

lh(v)
	line-height _px(v)

tei(v)
	text-indent _px(v)

ovf(v)
	if v == h
		overflow hidden
	if v == a
		overflow auto

ted(v)
	if v == n
		text-decoration none
	if v == u
		text-decoration underline
	else
		text-decoration arguments

fow()
	font-weight arguments

fsz()
	font-size _px(arguments)

col()
	if length(arguments) == 1
		color arguments
	else
		color rgba(arguments)

tea(v)
	if v == c
		text-align center
	if v == l
		text-align left
	if v == r
		text-align right

bo(v)
	_buf = null
	for n in arguments
		push(_buf, _px(n))
	border _buf

bol(v)
	_buf = null
	for n in arguments
		push(_buf, _px(n))
	border-left _buf

bor(v)
	_buf = null
	for n in arguments
		push(_buf, _px(n))
	border-right _buf

bot(v)
	_buf = null
	for n in arguments
		push(_buf, _px(n))
	border-top _buf

bob(v)
	_buf = null
	for n in arguments
		push(_buf, _px(n))
	border-bottom _buf

bra(v)
	border-radius _px(v)

z(v)
	z-index v

bg()
	_url = ''
	_buf = null
	for n in arguments
		if type(n) == 'string'
			_url = n
			push(_buf, url(_url))
		else
			push(_buf, n)
	background _buf
	if _url != ''
		_w = image-size(_url)[0] * image-pixel-ratio
		_h = image-size(_url)[1] * image-pixel-ratio
		background-size _w _h

bap()
	background-position _px(arguments[0]) _px(arguments[1])

bas()
	background-size arguments

im(_image, _properties = no-repeat, _display = block)
	img(_image, _properties, _display)

wh(_w, _h)
	width _px(_w)
	height _px(_h)

c()
	center()

tl(_top = 0, _left = 0)
	top-left(_top, _left)

tr(_top = 0, _right = 0)
	top-right(_top, _right)

bl(_bottom = 0, _left = 0)
	bottom-left(_bottom, _left)

br(_bottom = 0, _right = 0)
	bottom-right(_bottom, _right)

clf()
	clear-fix()

ffg()
	font-family 'Hiragino Kaku Gothic ProN' Meiryo sans-serif

ffs()
	font-family 'Hiragino Mincho ProN' serif